.container {
  box-sizing: border-box;
  max-width: 1250px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.botao {
  display: inline-block;
  padding: 16px 32px;
  background: var(--cor-p2);
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font: 600 1.125rem/1.35 "roboto", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  margin-left: 2px;
}
.botao::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: 8px;
  background: linear-gradient(
    -45deg,
    var(--cor-p1),
    var(--cor-p2)
  );
  background-size: 400%;
  animation: move infinite forwards 4s;
  transition: transform 0.4s;
  
}
@keyframes move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.botao:hover {
  background: var(--cor-p1);
}
.botao-projetos.backgraund {
  background: var(--cor-1);
  position: relative;
  top: 0px;
}
.botao-projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  background: var(--cor-2);
  position: relative;
}
.button-link img {
  border: none;
  border-radius: 50%;
  display: flex;
  width: 20px;
  background: var(--cor-p2);
  padding: 8px;
  cursor: pointer;
  animation: animacaoy 1.5s linear infinite alternate;
  transition: 0.5s;
}
.button-link img:hover {
  background: var(--cor-p1);
}
@media (max-width: 1000px) { 
  .botao-projetos.backgraund {
    background: var(--cor-0);
  }
}
@media (max-width: 800px) { 
  .button-link img {
    width: 30px;
    padding: 10px;
  }

}