.container {
  box-sizing: border-box;
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.botao-projetos.backgraund {
  background: var(--cor-1);
}
.botao-projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  background: var(--cor-2);
}
.botao2 img {
  border: none;
  border-radius: 50%;
  display: flex;
  width: 20px;
  background: var(--cor-p2);
  padding: 8px;
  cursor: pointer;
  animation: animacaoy 1.5s linear infinite alternate;
}
@media (max-width: 1000px) { 
  .botao-projetos.backgraund {
    background: var(--cor-0);
  }
}
@media (max-width: 600px) { 
  .botao2 img {
    width: 30px;
    padding: 10px;
  }
}