.botao-projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  background: var(--cor-2);
}
.botao-projetos.backgraund {
  background: var(--cor-1);
}
.botao2 img {
  border: none;
  border-radius: 50%;
  display: flex;
  width: 20px;
  background: var(--cor-p2);
  padding: 8px;
  cursor: pointer;
  animation: animacaoy 1.5s linear infinite alternate;
}
@media (max-width: 500px) { 
  .botao2 img {
    width: 30px;
    padding: 10px;
  }
}