.footer-bg {
background: var(--cor-12);
}
.colunas section{
border: 2px solid transparent;
margin: 20px 10px;
position: relative;
}
.js .colunas .ativo section::before{
content: '';
position: absolute;
width: 0;
height: 0;
top: -2px;
left: -2px;
border: 2px solid transparent;
box-sizing: content-box;
animation: animacao1 4s linear forwards;
animation-delay: 3s;
z-index: -1;
border-radius: 4px;
}
@keyframes animacao1{
0%{
width: 0;
height: 0;
border-top-color: var(--cor-p1);
border-right-color: transparent;
border-bottom-color: transparent;
border-left-color: transparent;
}
50%{
width: 100%;
height: 0;
border-top-color: var(--cor-p1);
border-right-color: var(--cor-p1);
border-bottom-color: transparent;
border-left-color: transparent;
}
100%{
width: 100%;
height: 100%;
border-top-color: var(--cor-p1);
border-right-color: var(--cor-p1);
border-bottom-color: transparent;
border-left-color: transparent;
}
}

.js .colunas .ativo section::after{
content: '';
position: absolute;
width: 0;
height: 0;
top: -2px;
left: -2px;
border: 2px solid transparent;
box-sizing: content-box;
animation: animacao2 4s linear forwards;
animation-delay: 3s;
z-index: -1;
border-radius: 4px;
}
@keyframes animacao2{
0%{
width: 0;
height: 0;
border-top-color: transparent;
border-right-color: transparent;
border-bottom-color: transparent;
border-left-color: var(--cor-p1);
}
50%{
width: 0;
height: 100%;
border-top-color: transparent;
border-right-color: transparent;
border-bottom-color: var(--cor-p1);
border-left-color: var(--cor-p1);
}
100%{
width: 100%;
height: 100%;
border-top-color: transparent;
border-right-color: transparent;
border-bottom-color: var(--cor-p1);
border-left-color: var(--cor-p1);
}
}

.footer {
max-width: 1400px;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1.5fr;
padding: 90px 20px;
}
.footer-dados {
padding: 60px 50px;
border-radius: 3px 0px 0px 3px;
border-right: 1px solid var(--cor-0);
background: transparent;
}
.titulo-contato-grid {
margin-bottom: 30px;
}
.titulo-contato { 
display: inline-block;
text-align: left;
position: relative;
text-transform: uppercase;
padding-left: 63px;
}
.titulo-contato::after { 
content: "";
width: 30px;
height: 39px;
left: 25px;
background: url(../media/svg/detalhe-titulo.svg) no-repeat center;
position: absolute;
}
.footer-texto {  
text-align: left;
margin-bottom: 40px;
position: relative;
padding-left: 25px;
}
.footer-texto:hover {
color: var(--cor-2);
}
.titulo-2{
padding-left: 25px;
margin-bottom: 16px;
color: var(--cor-11);
}
.contato-meios a {
display: block;
max-width: max-content;
margin-bottom: 30px;
padding-left: 50px;
text-decoration: none;
color: inherit;
position: relative;
}
.contato-meios a::before{
content: "";
width: 20px;
height: 20px;
top: 0px;
left: 23px;
background: url(../media/svg/email.svg) no-repeat 0px 2px;
position: absolute;
}
.contato-meios a:hover {
color: var(--cor-2);
}
.footer-redes {
display: flex;
gap: 0px;
flex-wrap: nowrap;
}
.footer-redes img {
display: flex;
width: 32px;
height: 100%;
cursor: pointer;
}
.instagram, .whats-app, .likedin, .github {
padding: 25px;
border-radius: 50%;
}
.instagram:hover {
background: #f09433;
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
animation: animation-one 0.4s linear;
}
.likedin:hover{
background: var(--cor-p3);
animation: animation-one 0.4s linear;
}
.github:hover{
background: var(--cor-p4);
animation: animation-one 0.4s linear;
}
.whats-app:hover {
background-color: var(--cor-p5);
animation: animation-one 0.4s linear;
}
@keyframes animation-one {
40% {
transform: scale(1.4);
}

60% {
transform: scale(0.8);
}

80% {
transform: scale(1.2);
}

100% {
transform: scale(1);
}
}
.footer-formulario {
padding: 42px 60px;
border-radius: 0px 3px 3px 0px;
background: transparent;
z-index: 0;
position: relative;
}
/* .footer-formulario::after {
content: "";
position: absolute;
bottom: 0;
right: 0;
border: 40px solid transparent;
border-bottom: 40px solid var(--cor-p1);
border-right: 40px solid var(--cor-p1);
z-index: 3;
} */
.footer-final {
display: block;
text-align: center;
padding: 20px;
background: var(--cor-13);
border-top: 1px solid var(--cor-8);
}
@media (max-width: 1180px) {
.footer-dados {
padding: 30px 40px;
border-right: none;
}
.titulo-contato-grid {
margin-bottom: 30px;
}
.titulo-contato { 
margin-bottom: 0px;
padding-left: 60px;
}
.footer-texto {
padding-left: 25px;
}
.titulo-2{
padding-left: 25px;
}
.contato-meios a {
padding-left: 50px;
}
.footer-redes img {
width: 26px;
}
.instagram, .whats-app, .likedin, .github {
padding: 16px;
}
.footer-formulario {
padding: 30px 40px;
}  
}
@media (max-width: 1000px) {
.footer-dados {
padding: 20px 30px;
}
.titulo-contato-grid {
display: grid;
}
.titulo-contato {
margin: auto;
padding-left: 0px;
}
.titulo-contato::after{
content: "";
width: 50px;
height: 100%;
left: -45px;
background: url(../media/svg/detalhe-titulo.svg) no-repeat center;
position: absolute;
}
.titulo-contato::before{
content: "";
width: 50px;
height: 100%;
right: -45px;
background: url(../media/svg/detalhe-titulo.svg) no-repeat center;
position: absolute;
}
.footer-texto {
padding-left: 24px;
}
.titulo-2{
padding-left: 24px;
}
.contato-meios a {
padding-left: 50px;
}
.contato-meios a::before{
content: "";
width: 20px;
height: 20px;
top: 0px;
left: 22px;
background: url(../media/svg/email.svg) no-repeat 0px 1px;
position: absolute;
}
.footer-redes img {
width: 26px;
}
.instagram, .whats-app, .likedin, .github {
padding: 24px;
}
.footer-formulario {
padding: 20px 30px;
}  
}
@media (max-width: 938px) { 
.footer {
grid-template-columns: 1fr;
}
.footer-dados{
padding: 20px;
border-radius: 4px 4px 0 0;
}
.titulo-contato-grid {
margin-left: 0px;
text-align: center;
}
.footer-texto {
max-width: 45ch; /*Entre 45 E 75 */
margin: 0 auto;
text-align: center;
margin-bottom: 30px;
padding-left: 0px;
}
.titulo-2{
padding-left: 0px;
text-align: center;
}
.contato-meios a {
margin: 0px auto 30px auto;
padding-left: 0px;
}
.contato-meios a::before{
display: none;
}
.footer-redes {
justify-content: center;
}
.footer-redes img {
width: 20px;
}
.instagram, .whats-app, .likedin, .github {
padding: 17px;
}
.footer-formulario {
padding: 20px;
border-radius: 0 0 4px 4px;
}
}
@media (max-width: 500px){ 
.colunas section{
margin: 4px 10px;
}
.contato-meios a {
text-align: center;
}
.titulo-contato::after{
content: "";
width: 50px;
height: 100%;
left: -50px;
background: url(../media/svg/detalhe-titulo-mobile.svg) no-repeat center;
position: absolute;
transform: rotate(180deg);
}
.titulo-contato::before{
content: "";
width: 50px;
height: 100%;
right: -50px;
background: url(../media/svg/detalhe-titulo-mobile.svg) no-repeat center;
position: absolute;
}
.footer-texto {
max-width: 25ch;
}
.footer-redes {
flex-wrap: wrap;
}
}