.footer-bg {
  background-color:var(--cor-12);
}
.footer {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer h3 {
  padding: 20px 20px;
}
.footer-texto {
  font-size: 1.7rem;
  line-height: 1.33;
  color: var(--cor-0);
  padding: 90px 0px 0px 20px;
  position: relative;
}
.footer-texto::before {
  content: "";
  display: block;
  width: 100px;
  height: 10%;
  background: url(../img/detalhe.svg) no-repeat center;
  position: absolute;
  left: 20px;
  top: 30px;
  z-index: 1;
}
.footer-contato ul {
  margin-bottom: 32px;
  padding-left: 20px;
}
.footer-contato li:nth-child(even)::after {
  content: "";
  display: block;
  max-width: 252px;
  height: 2px;
  background: var(--cor-11);
  margin-top: 16px;
  margin-bottom: -20px;
}
.contato {
  color: var(--cor-0); 
  font-size: 1.5rem;
  line-height: 2;
}
.footer-redes {
  display: flex;
  gap: 0px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.footer-redes img {
  display: flex;
  width: 32px;
  height: 100%;
  cursor: pointer;
}
.instagram, .facebook, .likedin, .github{
  padding: 20px;
  border-radius: 50%;
}
.instagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}
.facebook:hover {
  background-color: #0866FF;
  animation: bounce_613 0.4s linear;
}
.likedin:hover{
  background: #1C92FF;
  animation: bounce_613 0.4s linear;
}
.github:hover{
  background: #1F2328;
  animation: bounce_613 0.4s linear;
}
@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }
  
  60% {
    transform: scale(0.8);
  }
  
  80% {
    transform: scale(1.2);
  }
  
  100% {
    transform: scale(1);
  }
}
.contato-ul li a {
  text-decoration: none;
  color: var(--cor-5);
}
.contato-ul li {
  padding-bottom: 10px;
}
.final  {
  display: block;
  text-align: center;
  padding: 20px;
  background: var(--cor-13);
  color: var(--cor-5);
  border-top: 1px solid var(--cor-10);
}
@media (max-width: 600px) {
  .footer-texto {
    font-size: 1.3rem;
  }
  .footer-texto::before {
    width: 50px;
    height: 20px;
    top: 55px;
  }
  .footer {
    grid-template-columns: 1fr;
  }
}