.footer-bg {
  background-color: var(--cor-11);
}
.footer {
  max-width: 1250px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding: 90px 20px;
}
.titulo-footer {
  margin-bottom: 30px;
}
.contato-titulo { 
  display: inline-block;
  text-align: left;
  position: relative;
  text-transform: uppercase;
  padding-left: 65px;
}
.contato-titulo::after { 
  content: "";
  width: 30px;
  height: 100%;
  left: 25px;
  background: url(../media/svg/detalhe-titulo.svg) no-repeat center;
  position: absolute;
}
.footer-redes {
  display: flex;
  gap: 0px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.footer-redes img {
  display: flex;
  width: 32px;
  height: 100%;
  cursor: pointer;
}
.instagram, .whats-app, .likedin, .github {
  padding: 25px;
  border-radius: 50%;
}
.instagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}
.likedin:hover{
  background: var(--cor-p3);
  animation: bounce_613 0.4s linear;
}
.github:hover{
  background: var(--cor-p4);
  animation: bounce_613 0.4s linear;
}
.whats-app:hover {
  background-color: var(--cor-p5);
  animation: bounce_613 0.4s linear;
}
@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }
  
  60% {
    transform: scale(0.8);
  }
  
  80% {
    transform: scale(1.2);
  }
  
  100% {
    transform: scale(1);
  }
}
.contato-dados,
.contato-formulario {
  padding: 50px 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.contato-dados {
  border-radius: 5px;
  background: var(--cor-12) url("../../img/dec/bottom-left.svg") no-repeat
    bottom 20px left 20px;
}
.contato-formulario {
  border-radius: 0 5px 5px 0;
  background: var(--cor-0) url("../../img/dec/bottom-right.svg") no-repeat
    bottom 20px right 20px;
}
.contato-texto {
  font-size: 1.5rem;
  margin-bottom: 40px;
  position: relative;
  padding-left: 25px;
}
.contato-meios a {
  display: block;
  max-width: max-content;
  margin-bottom: 30px;
  padding-left: 25px;
  text-decoration: none;
  color: inherit;
  position: relative;
}
.contato-meios a:hover {
  color: var(--cor-0);
}
.titulo-2{
  padding-left: 25px;
  margin-bottom: 10px;
  color: var(--cor-0);
}
.final  {
  display: block;
  text-align: center;
  padding: 20px;
  background: var(--cor-12);
  border-top: 1px solid var(--cor-10);
}
@media (max-width: 1180px) {
  .titulo-footer {
    margin-bottom: 30px;
  }
  .contato-titulo { 
    margin-bottom: 0px;
    padding-left: 60px;
  }
  .contato-titulo::after { 
    content: "";
    width: 30px;
    height: 100%;
    left: 25px;
    background: url(../media/svg/detalhe-titulo.svg) no-repeat center;
    position: absolute;
  }
  .contato-meios a {
    padding-left: 25px;
  }
  .titulo-2{
    padding-left: 25px;
  }
  .contato-texto {
    font-size: 1.2rem;
    padding-left: 25px;
  }
  .contato-dados,
  .contato-formulario {
   padding: 50px 25px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
.footer-redes img {
  width: 30px;
  }
.instagram, .whats-app, .likedin, .github {
  padding: 25px;
  }
}
@media (max-width: 1000px) {
.titulo-footer {
  display: grid;
}
.contato-titulo {
  margin: auto;
  padding-left: 0px;
}
.contato-titulo::after{
  content: "";
  width: 50px;
  height: 100%;
  left: -55px;
  background: url(../media/svg/detalhe-titulo-grande.svg) no-repeat center;
  position: absolute;
}
.contato-titulo::before{
  content: "";
  width: 50px;
  height: 100%;
  right: -55px;
  background: url(../media/svg/detalhe-titulo-grande.svg) no-repeat center;
  position: absolute;
  }
  .contato-meios a {
    padding-left: 20px;
  }
  .titulo-2{
    padding-left: 20px;
    font-size: 1.680rem;
  }
  .contato-texto {
    font-size: 1.1rem;
    padding-left: 20px;
  }
  .footer-redes img {
    width: 23.60px;
    }
  .instagram, .whats-app, .likedin, .github {
    padding: 20px;
    }
}
@media (max-width: 800px) { 
.footer {
  grid-template-columns: 1fr;
}
.contato-meios a {
  margin: 0px auto 30px auto;
  padding-left: 0px;
}
.titulo-2{
  padding-left: 0px;
  text-align: center;
  color: var(--cor-0);
}
.contato-texto {
  max-width: 25ch;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  padding-left: 0px;
}
.contato-dados,
.contato-formulario {
  padding: 20px;
}
.contato-dados {
  border-radius: 5px 5px 0 0;
  background: var(--cor-12);
}
.contato-formulario {
  border-radius: 0 0 5px 5px;
}
.titulo-footer {
  margin-left: 0px;
  text-align: center;
}
.footer-redes {
  justify-content: center;
}
}