.formacao {
  background: var(--cor-2);
}
.formacao .formacao-padding {
  padding: 90px 20px;
}
.formacao .titulo-formacao-grid {
  margin-bottom: 60px;
  margin-left: 45px;
}
.formacao .titulo-formacao {
  text-align: left;
  position: relative;
  display: inline-block;
  text-transform: uppercase; 
}
.formacao .titulo-formacao::after{
  content: "";
  width: 50px;
  height: 100%;
  left: -45px;
  background: url(../media/svg/detalhe-titulo.svg) no-repeat center;
  position: absolute;
}
/* .formacao .titulo-formacao:after {
  content: "";
  width: 40%;
  height: 3px;
  background-color: var(--cor-p2);
  display: block; 
  position: absolute; 
  transition: width 0.5s;
}  */
.faculdade-unidade {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.faculdade-lista-unico {
  display: grid;
  grid-template-columns: 6fr 1fr;
  gap: 10px;
  padding: 20px 10px;
  background: #2e2e2e;
  border-radius: 8px;
  grid-column: span 2;
  border: 1px solid var(--cor-p2);
  transition: transform 0.5s 0.1s;
  background: linear-gradient(var(--cor-11) 10px, var(--cor-9) 100px)
}
.faculdade-lista-unico:hover{
  box-shadow: 3px 3px 0 var(--cor-p2);
  transform: translateY(-15px);
}
.faculdade-lista-unico picture img {
  cursor: pointer;
  width: 70px;
  height: 85px;
}
.faculdade-lista-unico span {
  display: block;
}
.faculdade-lista {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  padding: 20px 10px;
  background: #2e2e2e;
  border-radius: 5px;
  border: 1px solid var(--cor-p2);
  transition: transform 0.5s 0.1s;
  background: linear-gradient(var(--cor-11) 10px, var(--cor-9) 100px)
}
.faculdade-lista:hover{
  box-shadow: 3px 3px 0 var(--cor-p2);
  transform: translateY(-15px);
}
.faculdade-lista picture img {
  cursor: pointer;
  width: 70px;
  height: 85px;
}
.faculdade-lista span {
  display: block;
}
.faculdade-tipo {
  letter-spacing: .11rem;
}
.faculdade-curso {
  position: relative;
  letter-spacing: .15rem;
}
.faculdade-curso::before {
  content: "";
  display: block;
  width: 6px;
  height: 31px;
  background: var(--cor-p2);
  position: absolute;
  left: -17px;
  bottom: 5px;
}
.faculdade-instituicao {
  letter-spacing: .11rem;
}
.faculdade-data {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5;
}
.imagem-certificado-girar{
  display: block;
  animation: girar 40.5s infinite;
}
@keyframes girar{
  40% {
      transform: rotate(3deg);
  }
  50% {
      transform: rotate(-4deg);
  }
  60% {
      transform: rotate(3deg);
  }
}
.certificado {
  place-self: center end;
  width: 70px;
  height: 85px;
  position: relative;
}
.imagem-certificado {
  position: absolute;
  top: 0px;
  bottom: 0px;
}
.imagem-certificado:active {
  opacity: 0;
}
@media (max-width: 1234px){
  .faculdade-unidade {
    grid-template-columns: 1fr 1fr 1fr;  
  }
}
@media (max-width: 1000px){
  .formacao .titulo-formacao-grid {
    display: grid;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  .formacao .titulo-formacao {
    margin: 0 auto;
  }
  .formacao .titulo-formacao::after{
    content: "";
    width: 50px;
    height: 100%;
    left: -55px;
    background: url(../media/svg/detalhe-titulo-grande.svg) no-repeat center;
    position: absolute;
  }
  .formacao .titulo-formacao::before{
    content: "";
    width: 50px;
    height: 100%;
    right: -55px;
    background: url(../media/svg/detalhe-titulo-grande.svg) no-repeat center;
    position: absolute;
  }
  .formacao .formacao-container {
    padding: 90px 20px;
  }
  .faculdade-unidade {
    grid-template-columns: 1fr 1fr;  
  }
}
@media (max-width: 800px){
  .faculdade-unidade {
    gap: 20px;
  }
  .faculdade-curso {
    font-size: 1.5rem;
  }
  .faculdade-curso::before {
   display: none;
  }
  .faculdade-instituicao {
    font-size: 0.740rem;
  }
  .faculdade-lista-unico {
    grid-column: span 1;
  }
  .faculdade-curso {
    letter-spacing: 0;
    font-size: 1.5rem;
  }
  .faculdade-unidade {
    grid-template-columns: 1fr;  
  }
}
@media (max-width: 600px){ 
  .formacao .titulo-formacao-grid {
    margin-bottom: 30px;
  }
  .faculdade-lista-unico {
    grid-template-columns: 1fr;
    text-align: center;
    background: linear-gradient(var(--cor-11) 100px, var(--cor-9) 400px)
  }
  .faculdade-lista-unico picture img {
    grid-row: 1;
  }
  .faculdade-lista {
    grid-template-columns: 1fr;
    text-align: center;
    background: linear-gradient(var(--cor-11) 100px, var(--cor-9) 400px); 
  }
  .faculdade-lista picture img {
    grid-row: 1;
  }
  .faculdade-lista-unico .faculdade-ordem {
    grid-row: 2;
  }
  .faculdade-lista .faculdade-ordem {
    grid-row: 2;
  }
  .imagem-certificado-girar{
    animation: girar 10.5s infinite;
  }
  .certificado {
   place-self: center;
  }
}