.formacao {
  background: var(--cor-2);
  color: var(--cor-0);
}
.formacao .formacao-padding {
  padding: 90px 20px;
}
.formacao .titulo {
  text-align: left;
  position: relative;
  display: inline-block;
  color: var(--cor-13);
  margin-bottom: 60px;
  text-transform: uppercase;
}
.formacao .titulo:after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--cor-p2);
  display: block; 
  position: absolute;
  transition: width 0.5s;
}
.formacao .titulo:hover:after {
  width: 50%;
}
.faculdade-unidade {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.faculdade-lista-unico {
  display: grid;
  grid-template-columns: 6fr 1fr;
  gap: 10px;
  padding: 20px 10px;
  background: #2e2e2e;
  border-radius: 8px;
  grid-column: span 2;
  border: 1px solid var(--cor-p2);
  transition: transform 0.5s 0.1s;
  background: linear-gradient(var(--cor-11) 10px, var(--cor-9) 100px)
}
.faculdade-lista-unico:hover{
  box-shadow: 3px 3px 0 var(--cor-p2);
  transform: translateY(-15px);
}
.faculdade-lista-unico picture img {
  cursor: pointer;
  width: 70px;
  height: 85px;
}
.faculdade-lista-unico span {
  display: block;
}
.faculdade-lista {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  padding: 20px 10px;
  background: #2e2e2e;
  border-radius: 5px;
  border: 1px solid var(--cor-p2);
  transition: transform 0.5s 0.1s;
  background: linear-gradient(var(--cor-11) 10px, var(--cor-9) 100px)
}
.faculdade-lista:hover{
  box-shadow: 3px 3px 0 var(--cor-p2);
  transform: translateY(-15px);
}
.faculdade-lista picture img {
  cursor: pointer;
  width: 70px;
  height: 85px;
}
.faculdade-lista span {
  display: block;
}
.faculdade-tipo {
  letter-spacing: .11rem;
}
.faculdade-curso {
  position: relative;
  letter-spacing: .15rem;
}
.faculdade-curso::before {
  content: "";
  display: block;
  width: 6px;
  height: 25px;
  background: var(--cor-p2);
  position: absolute;
  left: -17px;
  bottom: 5px;
}
.faculdade-instituicao {
  letter-spacing: .20rem;
}
.faculdade-data {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5;
}
.imagem-certificado-girar{
  display: block;
  animation: girar 50.5s infinite;
}
@keyframes girar{
  40% {
      transform: rotate(5deg);
  }
  50% {
      transform: rotate(-4deg);
  }
  60% {
      transform: rotate(5deg);
  }
}
.imagem-certificado-girar-reverse{
  display: block;
  animation: girar-alternado 40.5s reverse infinite;
}
@keyframes girar-alternado{
  40% {
    transform: rotate(8deg);
  }
  50% {
      transform: rotate(-4deg);
  }
  60% {
      transform: rotate(8deg);
  }
}
.certificado {
  place-self: center end;
  width: 70px;
  height: 85px;
  position: relative;
}
.imagem-certificado {
  position: absolute;
  top: 0px;
  bottom: 0px;
}
.imagem-certificado:active {
  opacity: 0;
}
@media (max-width: 1234px){
  .faculdade-unidade {
    grid-template-columns: 1fr 1fr 1fr;  
  }
}
@media (max-width: 1000px){
  .formacao .formacao-container {
    padding: 90px 20px;
  }
  .faculdade-unidade {
    grid-template-columns: 1fr 1fr;  
  }
}
@media (max-width: 600px){
  .faculdade-unidade {
    gap: 20px;
  }
  .font-xx {
    font: 700 1.6rem/1.25 "Roboto", sans-serif;
  }
  .formacao .titulo {
    margin-bottom: 20px;
  }
  .faculdade-curso {
    font-size: 1.5rem;
  }
  .faculdade-curso::before {
   display: none;
  }
  .faculdade-lista-unico {
    grid-column: span 1;
    grid-template-columns: 2fr 1fr;
  }
  
  .faculdade-lista {
    grid-template-columns: 2fr 1fr;
  }
 
  .faculdade-curso {
    letter-spacing: 0;
    font-size: 1.5rem;
  }
  .faculdade-unidade {
    grid-template-columns: 1fr;  
  }
}
@media (max-width: 500px){ 
  .faculdade-lista-unico {
    grid-template-columns: 1fr;
    text-align: center;
    background: linear-gradient(var(--cor-11) 100px, var(--cor-9) 400px)
  }
  .faculdade-lista-unico picture img {
    grid-row: 1;
  }
  .faculdade-lista {
    grid-template-columns: 1fr;
    text-align: center;
    background: linear-gradient(var(--cor-11) 100px, var(--cor-9) 400px); 
  }
  .faculdade-lista picture img {
    grid-row: 1;
  }
  .faculdade-lista-unico .faculdade-ordem {
    grid-row: 2;
  }
  .faculdade-lista .faculdade-ordem {
    grid-row: 2;
  }
  .imagem-certificado-girar{
    animation: girar 10.5s infinite;
  }
  .certificado {
   place-self: center;
  }
}