html, 
body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #141414;
  background: var(--cor-1);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
ul,
p{
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
#botaotopo {
  position: fixed;
  bottom: 18px;
  right: 18px;
  width: 46px;
  height: 46px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
}
.arrow {
  border-width: 0 7px 7px 0;
  padding: 0px;
  display: inline-block;
}
::-webkit-scrollbar {
	width: 5px;
	background-color: rgb(35, 38, 41);
}
::-webkit-scrollbar-thumb {
	background-color: #3228FA;
  border-radius: 20px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}

