.habilidades-bg {
  background: var(--cor-1);
}
.habilidades .habilidades-padding {
  padding: 90px 20px;
}
.habilidades .titulo-habilidades-grid {
  margin-bottom: 60px;
  margin-left: 45px;
}
.habilidades .titulo-habilidades {
  text-align: left;
  position: relative;
  display: inline-block;
  text-transform: uppercase; 
}
.habilidades .titulo-habilidades::after{
  content: "";
  width: 50px;
  height: 100%;
  left: -45px;
  background: url(../media/svg/detalhe-titulo.svg) no-repeat center;
  position: absolute;
}
.conteiner-skills {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}
.habilidades-imagem {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}
.img-content {
  padding: 10px 20px;
  background: var(--cor-5);
  border-radius: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}
.img-content img {
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  transition: all 0.8s ease 0s;
}
.img-content img:hover {
  transform: rotate(360deg);
  transition: ease-in-out 0.3s;
}
.texto-descricao{
  height: 250px;
  display: block;
  animation: opacity 3s forwards;
}
@keyframes opacity {
  from {
      opacity: 0;
      transform: matrix3d(-20px, 0, 0);
  }
  to {
      opacity: 1;
      transform: matrix3d(1, 1, 1);
  }
}
@media (max-width: 1000px) {
.habilidades .titulo-habilidades-grid {
  display: grid;
  margin-bottom: 50px;
  margin-left: 0px;
}
.habilidades .titulo-habilidades {
  margin: 0 auto;
}
.habilidades .titulo-habilidades::after{
  content: "";
  width: 50px;
  height: 100%;
  left: -45px;
  background: url(../media/svg/detalhe-titulo.svg) no-repeat center;
  position: absolute;
  transform: rotate(180deg);
}
.habilidades .titulo-habilidades::before{
  content: "";
  width: 50px;
  height: 100%;
  right: -45px;
  background: url(../media/svg/detalhe-titulo.svg) no-repeat center;
  position: absolute;
}
.conteiner-skills {
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.habilidades-imagem {
  justify-content: center;
}
.conteiner-descricao {
  grid-row: 1;
}
.texto-descricao {
  text-align: center;
}
.texto-descricao{
  height: 210px;
}
}
@media (max-width: 600px) {
  .img-content img {
    width: 90px;
    height: 90px;
  } 
  .habilidades-imagem {
    gap: 20px;
  }
}
@media (max-width: 420px){ 
.habilidades .titulo-habilidades { 
  font-size: 1.7rem;
}
.habilidades .titulo-habilidades::after{
  content: "";
  width: 50px;
  height: 31.98px;
  left: -50px;
  background: url(../media/svg/detalhe-titulo-mobile.svg) no-repeat center;
  position: absolute;
  transform: rotate(180deg);
}
.habilidades .titulo-habilidades::before{
  content: "";
  width: 50px;
  height: 100%;
  right: -50px;
  background: url(../media/svg/detalhe-titulo-mobile.svg) no-repeat center;
  position: absolute;
}
.texto-descricao{
  font-size: 1.4rem;
  height: 270px;
}
}
