.habilidades-bg {
  background: var(--cor-1);
}
.habilidades .habilidades-padding {
  padding: 90px 20px;
}
.habilidades .titulo-habilidades-grid {
  margin-bottom: 60px;
  margin-left: 35px;
}
.habilidades .titulo-habilidades {
  text-align: left;
  position: relative;
  display: inline-block;
  text-transform: uppercase; 
}
.habilidades .titulo-habilidades::after{
  content: "";
  width: 50px;
  height: 39px;
  left: -45px;
  background: url(../media/svg/detalhe-titulo.svg) no-repeat center;
  position: absolute;
}
.conteiner-skills {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
.texto-container {
  background: var(--cor-2);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 2.5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--cor-4);
  transition: 0.8s ease-out;
}
.texto-descricao{
  margin-top: 30px;
  text-align: center;
  height: 250px;
  display: block;
  animation: opacity 3s forwards;
}
@keyframes opacity {
  from {
      opacity: 0;
      transform: matrix3d(-20px, 0, 0);
  }
  to {
      opacity: 1;
      transform: matrix3d(1, 1, 1);
  }
}
.habilidades-imagem {
  display: flex;
  flex-wrap: wrap;
  gap: 25.80px;
  justify-content: flex-end;
  align-items: center;
}
.habilidades-margin {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}
.container-repeat {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: flex-end;
  align-items: center;
}
.img-content {
  padding: 0px;
  background: var(--cor-2);
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--cor-4);
  box-shadow: 0 2.5px 10px rgba(0, 0, 0, 0.2);
}
.img-content img {
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  transition: 0.8s ease-out;
}
.img-content img:hover {
  transform: rotate(360deg);
  opacity: 0;
}
.imagem-1{  
  margin: 15px;
  transition: 0.8s ease-out;
}
.imagem-1:hover { 
  background-image: url(../media/svg/html1.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  opacity: 1;
}
.imagem-2{
  margin: 15px;
  transition: 0.8s ease-out;
}
.imagem-2:hover{
  background-image: url(../media/svg/css1.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  opacity: 1;
}
.imagem-3{
  margin: 15px;
  transition: 0.8s ease-out;
}
.imagem-3:hover{
  background-image: url(../media/svg/sass1.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  opacity: 1;
}
.imagem-4{
  margin: 15px;
  transition: 0.8s ease-out;
}
.imagem-4:hover{
  background-image: url(../media/svg/js1.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  opacity: 1;
}
.imagem-5{
  margin: 15px;
  transition: 0.8s ease-out;
}
.imagem-5:hover{
  background-image: url(../media/svg/redux1.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  opacity: 1;
}
.imagem-6{
  margin: 15px;
  transition: 0.8s ease-out;
}
.imagem-6:hover{
  background-image: url(../media/svg/php1.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  opacity: 1;
}
.imagem-7{
  margin: 15px;
  transition: 0.8s ease-out;
}
.imagem-7:hover{
  background-image: url(../media/svg/react.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  opacity: 1;
}
.imagem-8{
  margin: 15px;
  transition: 0.8s ease-out;
}
.imagem-8:hover{
  background-image: url(../media/svg/vue1.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  opacity: 1;
}
.imagem-9{
  margin: 15px;
  transition: 0.8s ease-out;
}
.imagem-9:hover{
  background-image: url(../media/svg/typescript1.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  opacity: 1;
}
.imagem-10{
  margin: 15px;
  transition: 0.8s ease-out;
}
.imagem-10:hover{
  background-image: url(../media/svg/bootstrap1.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  opacity: 1;
}
.imagem-11{
  margin: 15px;
  transition: 0.8s ease-out;
}
.imagem-11:hover{
  background-image: url(../media/svg/nodejs1.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  opacity: 1;
}
.imagem-12{
  margin: 15px;
  transition: 0.8s ease-out;
}
.imagem-12:hover{
  background-image: url(../media/svg/tailwind1.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  opacity: 1;
}
.imagem-13{
  margin: 15px;
  transition: 0.8s ease-out;
}
.imagem-13:hover{
  background-image: url(../media/svg/database1.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  opacity: 1;
}
.imagem-14{
  margin: 15px;
  transition: 0.8s ease-out;
}
.imagem-14:hover{
  background-image: url(../media/svg/git1.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  opacity: 1;
}
.imagem-15{
  margin: 15px;
  transition: 0.8s ease-out;
}
.imagem-15:hover{
  background-image: url(../media/svg/github1.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  opacity: 1;
}
.imagem-16{
  margin: 15px;
  transition: 0.8s ease-out;
}
.imagem-16:hover{
  background-image: url(../media/svg/figma1.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(360deg);
  opacity: 1;
}

@media (max-width: 1145px) { 
  .habilidades-margin {
    justify-content: center;
    margin-right: 0px;
  }
  .container-repeat {
    justify-content: center;
  }
  .habilidades-imagem {
    justify-content: center;
  }
}
@media (max-width: 1050px) {
.habilidades .titulo-habilidades-grid {
  display: grid;
  margin-bottom: 50px;
  margin-left: 0px;
}
.habilidades .titulo-habilidades {
  margin: 0 auto;
}
.habilidades .titulo-habilidades::after{
  content: "";
  width: 50px;
  height: 100%;
  left: -45px;
  background: url(../media/svg/detalhe-titulo.svg) no-repeat center;
  position: absolute;
  transform: rotate(180deg);
}
.habilidades .titulo-habilidades::before{
  content: "";
  width: 50px;
  height: 100%;
  right: -45px;
  background: url(../media/svg/detalhe-titulo.svg) no-repeat center;
  position: absolute;
}
.conteiner-skills {
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.texto-container {
  border: none;
}
.texto-container {
  background: var(--cor-1);
  transition: 0.8s ease-out;
  box-shadow: none;
}
.conteiner-descricao {
  grid-row: 1;
}
.texto-descricao{
  height: 210px;
}
.img-content img {
 padding: 8px 8px; 
}
}
@media (max-width: 760px) {
  .habilidades-imagem {
    gap: 20px;
  }
  .habilidades-margin {
    gap: 20px;
  }
  .container-repeat {
    gap: 20px;
  }
  .img-content img {
    margin: 3px;
    width: 90px;
    height: 90px;
  } 
}
@media (max-width: 600px) {
  .texto-container {
    padding: 10px;
  }
  .texto-descricao{
    height: 300px;
  }
  .habilidades-imagem {
    gap: 20px;
  }
  .habilidades-margin {
    gap: 20px;
  }
  .img-content img {
    margin: 3px;
    width: 80px;
    height: 80px;
  } 
}
@media (max-width: 420px){ 
.habilidades .titulo-habilidades::after{
  content: "";
  width: 50px;
  height: 31.98px;
  left: -50px;
  background: url(../media/svg/detalhe-titulo-mobile.svg) no-repeat center;
  position: absolute;
  transform: rotate(180deg);
}
.habilidades .titulo-habilidades::before{
  content: "";
  width: 50px;
  height: 100%;
  right: -50px;
  background: url(../media/svg/detalhe-titulo-mobile.svg) no-repeat center;
  position: absolute;
}
.img-content img {
  margin: 3px;
  padding: 5px 5px;
}
.texto-descricao{
  height: 250px;
  transition: 0.8s ease-out;
}
}
