#header {
  z-index: 3;
  padding: 30px 0px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow:  1px 1px  #fbfbfb32;
  backdrop-filter: blur(1px);
  text-shadow: 1px 1px 1px var(--cor-5);
  transition: 0.3s;
}
#header-container {
  padding: 0px 20px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home {
  transition: ease 0.5s;
}
.home:hover {
  transform: scale(1.050);
}
#header.fixar {
  z-index: 1;
  background-color: rgba(65, 65, 65, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 0px;
}
#menu {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  justify-content: center;
}
#menu a {
  color: inherit;
  padding: 10px 0px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 1rem 0;
}
#menu a:after {
  content: "";
  display: block;
  border-bottom: 3px solid var(--cor-p2);
  margin-top: 0px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
#menu a:hover:after {
  transform: scaleX(1);
}
#btn-mobile {
  z-index: 1;
  position: fixed;
  display: block;
  color:rgba(255, 255, 255, 0.835);
}  
#btn-mobile{
  display: none;
}
@media (max-width: 1000px) {
  #header { 
    padding: 0px;
    box-shadow: none;
    backdrop-filter: none;
  }
  #header.fixar {
    background: none;
    border-bottom: none;
  }
  #menu {
    gap: 0px; 
  }
  #menu a {
    padding: 20px 20px;
    background: var(--cor-0);
    border-radius: 4px;
  } 
  #nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  #nav li {
    margin: 15px;
  }
  #nav li a:hover {
    color: var(--cor-p2);
  }
  #nav a:hover:after {
    display: none;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    background: none;
    transition: 0.6s;
    z-index: 3;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    backdrop-filter: blur(1px);
    background-color: #0000006f;
}
  #nav.ativo #menu {
    height: 100vh;
    visibility: visible;
    overflow-y: auto;
    margin-top: 0;
  }
  #btn-mobile {
    display: flex;
    align-items: center;
    border: none;
    background:var(--cor-p2);
    cursor: pointer;
    gap: 0.5rem;
    right: 20px;
    top: 20px;
    transform: scale(1.1);
    border-radius: 4px;
    padding: 10px;
    position: fixed;
    z-index: 10;
  }
  #hamburger {
    border-top: 3px solid;
    width: 20px;
    color: var(--cor-0);
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.ativo #hamburger {
    border-top-color: transparent;
  }
  #nav.ativo #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.ativo #hamburger::after {
    transform: rotate(-135deg);
    top: -8px;
  }
  #header-container {
    gap: 40px;
    padding: 20px;
  }
  .logo img{
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 10px; 
  }
  .logo {
    display: block;
  }
}
