.projeto-bg {
  background: var(--cor-1);
  color: var(--cor-13);
}
.projeto {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 90px 20px 80px 20px;
}
.projeto .conteudo-projeto {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}
.projeto .conteudo-projeto:after {
    content: "";
    width: 50%;
    height: 3px;
    background-color: #3228FA;
    display: block; 
    position: absolute; /* Realinhando ao centro */
    transition: width 0.5s;
}
.projeto .conteudo-projetos:hover:after{
  width: 100%;
}
.projeto-ul li + li {
  margin-top: 100px;
}
.projeto-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 30px;
  align-content: start;
}
.projeto-container picture img{
  transition: transform 0.5s 0.1s;
  border: 1px solid #3228FA;
  border-radius: 8px;
}
.projeto-container picture img:hover{
  transform: scale(1.1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
.projeto .titulo {
  font-size: 2rem;
  text-align: right;
  padding: 0px;
  margin-bottom:15px;
}
.projeto .paragrafo {
  text-align: right;
  font-size: 1.25rem;
  color: #000000;
  letter-spacing: 0.15rem;
  align-self: center;
  margin-bottom: 15px;
} 
.projeto picture {
  display: block;
  justify-self: end;
  grid-column: 2;
  grid-row: 1 / 5;
}
.projeto .imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.linguagens{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-content: center;
  justify-self: end;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom:15px
} 
.linguagens p{
  padding: 0px;
}
.projetos-container .linguagens p{
  transition: transform 0.4s;
}
.projeto-container .linguagens p:hover{
  transform: scale(1.3);
}
#projeto-par h3 {
  text-align: left;
  grid-column: 2;
}
#projeto-par p {
  text-align: left;
  grid-column: 2;
}
#projeto-par picture {
  justify-self: start;
  grid-column: 1;
  grid-row: 1 / 5;
}
#projeto-par .imagem img {
  object-position: right;
}
#projeto-par .code-botao {
  grid-column: 2;
  justify-self: start;
}
#projeto-par .linguagens{
  justify-self: start;
  grid-column: 2;
}
/* .reverse{
  flex-direction: row-reverse;
}  */
.code-botao {
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
  grid-column: 1;
  justify-self: end; 
  align-items: center;
}
.botao-link img {
   display: block;
   width: 30px;
   height: 30px;
   border: 1px solid #3228FA;
   padding: 10px;
   border-radius: 50%;
   margin-bottom: 0px;
}
.botao-link  img{
  transition: transform 0.3s;
}
.botao-link img:hover{
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.seta {
  display: none;
}

@media (max-width: 900px) {
  .projeto {
    padding: 40px 20px;
  }
  .projeto ul {
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
    max-width: 1400px;
    margin-left:auto;
    margin-right:auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
  }
  .projeto li {
    min-width: 550px;
  }
  .projeto-ul li + li {
    margin-top: 0px;
  }
  .projeto-container {
    grid-template-columns: 1fr;
    gap: 5px;
    border: 3px solid #3228FA; 
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 0px;
  }
  .projeto .titulo {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 25px;
  }
  .projeto .paragrafo {
    text-align: center;
    font-size: 1rem;
    color: #000000;
    letter-spacing: 0.15rem;
    margin-bottom: 30px;
  } 
  .linguagens{
    justify-self: center; 
    grid-column: 1;
    padding: 25px 0px;
    margin-bottom:0px;
  } 
  .projeto li picture {
    justify-self: center;
    grid-column: 1;
    grid-row: 3;
  }
  .projeto > span {
    position: relative;
    display: block;
    padding-bottom:15px;
  }
  .seta{
    display: initial;
    font-weight: bold;
  }
  .seta::after{
    content:"→"; 
    font-weight:bold;
    position: absolute;
    top: -3px;
    color:black;
    font-size:1.25rem;
    animation:seta .5s ease-out 0s infinite alternate;
  }
  @keyframes seta{
    from{
        right:25px
    }
    to{
        right:15px
    }
  }
  .code-botao {
    justify-self: center;
  }
  #projeto-par h3 {
    text-align: center;
    grid-column: 1;
  }
  #projeto-par p {
    text-align: center;
    grid-column: 1;
  }
  #projeto-par picture {
    display: block;
    justify-self: center;
    grid-column: 1;
    grid-row: 3;
  }
  #projeto-par .linguagens{
    justify-self: center;
    grid-column: 1;
  }
  #projeto-par .code-botao {
    grid-column: 1;
    justify-self: center;
  }
}
@media (max-width: 500px) { 
  .projeto-container {
    gap: 0px;
    margin-bottom: 0px;
  }
  .projeto li {
    min-width: 343px;
  }
}
