.font-b {
  font: 300 1.2rem/1.5 "Roboto", sans-serif;
}
.font-l-b {
  font: 300 1.615rem/1.5 "Roboto", sans-serif;
}
.font-l-p {
  font: 300 1.050rem/1.5 "Roboto", sans-serif;
}
.font-l {
  font: 400 1rem/1.5 "Roboto", sans-serif;
}
.font-l-l {
  font: 500 1rem/1.5 "Roboto", sans-serif;
}
.font-l-c {
  font: 500 1.581rem/1.5 "Roboto", sans-serif;
}
.font-xx-t2 {
  font: 700 1.860rem/1.25 "Roboto", sans-serif;
}
.font-xx {
  font: 700 2rem/1.25 "Roboto", sans-serif;
}
.font-xx-b {
  font: 700 1.2rem/1.5 "Roboto", sans-serif;
}
.font-xxl-b {
  font: 700 1.755rem/1.25 "Roboto", sans-serif;
}
.font-xxl {
  font: 700 2.410rem/1.125 "Roboto", sans-serif;
}
.font-xxl-g {
  font: 900 3.002rem/1.5 "Roboto", sans-serif;
}
@media (max-width: 1000px) { 
  .font-xx-b {
    font-size: 1.1rem;
  }
  .font-l-l {
    font-size: 0.9rem;
  }
  .font-xx-t2 {
    font-size: 1.9rem;
  }
  .font-xxl-b {
    font-size: 1rem;
  }
  .font-xxl {
    font-size: 1.745rem;
  }
  .font-xxl-g {
    font-size: 2.2rem;
  }
}
@media (max-width: 800px){
  .font-l-l {
    font-size: 0.8rem;
  }
  .font-l {
    font-size: 0.740rem;
  }
  .font-l-c {
    font-size: 1.470rem;
  }
  .font-xx-t2 {
    font-size: 1.7rem;
  }
}
@media (max-width: 600px) { 
  .font-xxl-b {
    font-size: 0.845rem;
  }
  .font-l-p {
    font-size: 1rem;
  }
  .font-xxl {
    font-size: 1.3rem;
  }
  .font-xxl-g {
    font-size: 1.650rem;
  }
}
  @media (max-width: 420px){ 
  .font-l-c {
    font-size: 1.470rem;
  }
  .font-xx-t2 {
    font-size: 1.550rem;
  }
  .font-xx {
    font-size: 1.7rem;
  }
}