.font-b {
  font: 300 1rem/1.5 "Onest", sans-serif;
}
.font-l-p {
  font: 300 1.1rem/1.5 "Onest", sans-serif;
}
.font-l-b {
  font: 300 1.5rem/1.5 "Onest", sans-serif;
}
.font-l-linguagens {
  font: 600 1rem/1.5 "Onest", sans-serif;
}
.font-l {
  font: 400 1rem/1.5 "Onest", sans-serif;
}
.font-xx {
  font: 600 1.8rem/1.25 "Onest", sans-serif;
}
.font-xx-b {
  font: 600 1.2rem/1.5 "Onest", sans-serif;
}
.font-xxl-b {
  font: 700 1.320rem/1.25 "Onest", sans-serif;
}
.font-xxl {
  font: 700 1.85rem/1.125 "Onest", sans-serif;
}
.font-xxl-g {
  font: 900 2.330rem/1.125 "Onest", sans-serif;
}