[data-menu="button"] {
display: none;
}
#header .container {
@include d(t) {
padding-left: 0px;
padding-right: 0px;
}
}

.js [data-menu="button"] {
@include d(t) {
display: flex;
background: #222;
border: none;
padding: .5rem 1rem;
border-radius: 4px;
text-transform: uppercase;
font-family: 'IBM Plex Mono', monospace;
font-weight: bold;
color: #fff;
cursor: pointer;
align-items: center;
position: relative;
z-index: 300;
margin: 10px 10px 10px auto;
}
}

.js [data-menu="button"]::before {
@include d(t) {
margin-right: 4px;
content: '';
display: inline-block;
height: 2px;
width: 12px;
background: #fff;
box-shadow: 0 4px #fff, 0 -4px #fff;
transition: transform .3s;
}
}

.js [data-menu="button"].active::before {
@include d(t) {
transform: rotate(90deg);
}
}
.js [data-menu="list"] {
@include d(t) {
display: none;
position: absolute;
width: 160px;
z-index: 2;
top: 0;
right: 0;
padding: 60px 0 20px 0;
box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
}
}
.js [data-menu="list"].active {
@include d(t) {
  text-align: left;
background-color: #222;
list-style: none;
width: 150px;
top: 52px;
right: 0;
z-index: 100;
border-radius: 5px 0px 0px 5px;
padding: 26px 26px 26px 26px;
}
}

.js [data-menu="list"].active {
@include d(t) {
display: block;
animation: show-left .4s forwards;
}
}
@keyframes show-left {
from {
opacity: 0;
transform: translate3d( 30px, 0 , 0);
}
to {
opacity: 1;
transform: translate3d(0, 0, 0);
}
}
.js .dropdown-menu {
@include d(t) {
position: static;
border: none;
}
}