.projeto.espacamento {
  padding: 150px 20px 80px 20px;
}
.btn {
  display: grid;
  padding: 50px;
}
.botao-voltar {
  align-items: start;
  margin: 20px;
  padding: 20px;
  color: var(--cor-0);
  background: var(--cor-13);
  text-decoration: none;
  border-radius: 5px;
  position: relative;
  max-width: max-content;
}
@media (max-width: 1000px) { 
  .btn {
    display: grid;
    padding: 20px;
  }
  .botao-voltar {
    margin: 0px;
    padding: 20px
  }
  .projeto.projeto.espacamento {
    padding: 70px 20px;
  }
}
